# Boat Sales: EDA

## Table of Contents
### 1. Importing Data
### 2. Data Consistency 
### 3. Rename Columns
### 4. Data Cleaning
### 5. Data Profile
### 6. Exporting Data

### 01. Importing Data

In [157]:
# import libraries

import pandas as pd
import numpy as np 
import os

In [158]:
# define path 

path = r''

In [159]:
# importing dataframe

df = pd.read_csv(os.path.join(path, 'Raw_Data','Boat Sales', 'boat_data.csv'), index_col=False)

### 02. Data Consistency

#### 01. Consistency Check

##### 01. Columns

###### After checking all columns in excel, I decided to keep all, since they should be relevant for my analysis.

In [160]:
# check all columns name in the dataframe as well as general information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

In [161]:
# data description

df.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9879.000000  9832.000000                  9888.000000
mean   1893.192860    11.570017     3.520124                   149.160801
std     460.201582     6.002820     1.220534                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.540000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.930000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

###### Considering that my goal for this achievement is to carry out trends, geospatial, exploratory, regression, cluster and time-series analysis, all the columns are important for now, reason why I kept all of them.

##### 02. Mixed Types

In [162]:
# function to check if there is mixed types

for col in df.columns.tolist():
  weird = (df[[col]].map(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

Manufacturer
Type
Material
Location

In [163]:
# check first twenty rows to visualize type of data

df.head(20)

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,132
6,CHF 3600,Catamaran,NaN,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,Switzerland Â» Neuenburgersee Â» Yvonand,474
7,DKK 24800,Sport Boat,NaN,Used boat,0,3.00,NaN,NaN,Denmark Â» Svendborg,134
8,EUR 3333,Fishing Boat,Crescent power boats,new boat from stock,2019,3.64,1.37,NaN,Germany Â» Bayern Â» Boote+service Oberbayern,45
9,EUR 3300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.35,1.73,NaN,Italy Â» Dormelletto,180
10,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland Â» Seengen,239
11,CHF 3480,Fishing Boat,Marine power boats,new boat from stock,0,4.13,1.41,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa am ZÃ¼...,145
12,EUR 3500,Sport Boat,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,Italy Â» Lake Garda Â» Moniga del Garda (BS),69
13,CHF 4600,Runabout,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,Switzerland Â» Zugersee Â» Neuheim,113
14,CHF 4500,Fishing Boat,Italmarine power boats,"Used boat,Unleaded",1997,3.72,1.33,Aluminium,Switzerland Â» VierwaldstÃ¤ttersee Â» 6004,413
15,CHF 4400,Deck Boat,Buster power boats,"new boat from stock,Unleaded",0,3.88,1.49,Aluminium,Switzerland Â» Safenwil,263
16,CHF 4380,Sport Boat,Linder power boats,new boat from stock,0,4.31,1.64,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,462
17,DKK 30000,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,124
18,EUR 4000,Pilothouse,BÃ©nÃ©teau power boats,"Used boat,Diesel",1981,8.00,2.84,PVC,"France Â» MARTGUES, MARTIGUES",265
19,EUR 4000,Cabin Boat,NaN,"Used boat,Unleaded",2011,6.37,2.31,GRP,Germany Â» Bayern Â» Forchheim/Ofr.,330

##### 2.1 Value Counts of Each Mixed Type Column

In [164]:
df['Manufacturer'].value_counts(dropna = False)

Manufacturer
NaN                            1338
BÃ©nÃ©teau power boats          631
Jeanneau power boats            537
Sunseeker power boats           383
Princess power boats            241
                               ...
ISA Yachts power boats            1
Couach power boats                1
Perini Navi Spa power boats       1
Palmer Johnson power boats        1
Hunter power boats                1
Name: count, Length: 911, dtype: int64

In [165]:
df['Type'].value_counts(dropna = False)

Type
Used boat,Diesel                4140
Used boat,Unleaded              1686
Used boat                       1462
new boat from stock,Unleaded    1107
new boat from stock              665
new boat from stock,Diesel       291
new boat on order,Unleaded       150
Display Model,Unleaded            75
new boat on order                 61
new boat on order,Diesel          61
Diesel                            57
Used boat,Electric                27
Unleaded                          22
Display Model,Diesel              19
new boat from stock,Electric      18
Display Model                     18
Used boat,Gas                     10
NaN                                6
Display Model,Electric             6
new boat from stock,Gas            2
new boat from stock,Hybrid         1
Used boat,Hybrid                   1
Display Model,Gas                  1
Electric                           1
Used boat,Propane                  1
Name: count, dtype: int64

In [166]:
df['Material'].value_counts(dropna = False)

Material
GRP                    5484
NaN                    1749
PVC                    1123
Steel                   939
Wood                    235
Aluminium               229
Plastic                  77
Carbon Fiber             30
Thermoplastic            15
Hypalon                   5
Reinforced concrete       1
Rubber                    1
Name: count, dtype: int64

In [167]:
df['Location'].value_counts(dropna = False)

Location
Netherlands Â» In verkoophaven                      309
Croatia (Hrvatska)                                  244
Italy Â» Toscana Â» Toscana                         173
Italy                                               155
France                                              152
                                                   ...
Italy Â» La Spezia, Italie                            1
France Â» Bretagne Â» Bretagne                        1
Italy Â» Linz Marine Test Centre "Italo Monzino"      1
Italy Â» Adriatic Sea (Fano)                          1
Switzerland Â» Bielersee Â» Gerolfingen               1
Name: count, Length: 2996, dtype: int64

In [168]:
# Considering that no NaN was found, I will use the code below to visualize the columns were they are null

df[df['Location'].isnull()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
2269,EUR 187000,Motor Yacht,Bavaria power boats,"Used boat,Diesel",2011,13.83,4.41,GRP,NaN,51
2297,EUR 189000,Flybridge,Fairline power boats,"Used boat,Diesel",2005,12.10,3.69,GRP,NaN,68
2494,EUR 245000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",1999,13.72,4.19,GRP,NaN,90
2583,EUR 275000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2007,14.96,4.29,GRP,NaN,51
2653,EUR 295000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2003,18.65,4.60,GRP,NaN,67
2710,EUR 325000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2000,17.37,4.60,GRP,NaN,47
2796,EUR 370000,Flybridge,Bavaria power boats,"Used boat,Diesel",2013,13.61,1.12,GRP,NaN,84
2970,EUR 550000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2001,23.07,5.21,GRP,NaN,100
3112,EUR 875000,Motor Yacht,Pershing power boats,"Used boat,Diesel",2006,23.40,5.50,GRP,NaN,67
3147,Â£ 899950,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2007,24.38,6.00,GRP,NaN,54
3259,EUR 2100000,Passenger boat,NaN,"Used boat,Diesel",2003,41.76,11.00,Steel,NaN,145
3269,EUR 2600000,Motor Yacht,NaN,"Used boat,Diesel",2004,24.08,6.93,Steel,NaN,63
3276,EUR 2500000,Mega Yacht,NaN,"Used boat,Diesel",2012,36.00,7.30,Steel,NaN,135
3426,EUR 2490000,Mega Yacht,NaN,"Used boat,Diesel",2009,31.52,7.04,GRP,NaN,69
3447,EUR 2250000,Mega Yacht,Azimut power boats,"Used boat,Diesel",2005,30.15,6.80,GRP,NaN,127
3558,EUR 1350000,Flybridge,NaN,"Used boat,Diesel",2011,24.38,6.18,Wood,NaN,31
3568,EUR 1300000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2005,25.30,6.16,GRP,NaN,54
3589,EUR 1200000,Motor Yacht,NaN,"Used boat,Diesel",1996,29.70,6.70,Wood,NaN,60
3590,EUR 1200000,Flybridge,Princess power boats,"Used boat,Diesel",2009,21.43,5.48,GRP,NaN,63
3611,EUR 1150000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2003,28.96,6.31,GRP,NaN,111
3659,EUR 990000,Flybridge,Galeon power boats,"Used boat,Diesel",2011,19.81,5.21,GRP,NaN,77
3688,EUR 950000,Motorsailer,NaN,"Used boat,Diesel",2012,27.87,6.90,Steel,NaN,55
3802,Â£ 699000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2008,19.20,5.00,GRP,NaN,100
3848,EUR 699000,Motor Yacht,Cranchi power boats,"Used boat,Diesel",2010,19.81,5.11,GRP,NaN,108
4173,EUR 450000,Flybridge,Fairline power boats,"Used boat,Diesel",2009,14.94,5.11,GRP,NaN,52
4314,EUR 395000,Motor Yacht,Fairline power boats,"Used boat,Diesel",2013,12.80,3.99,GRP,NaN,79
4376,EUR 375000,Motor Yacht,Riva power boats,"Used boat,Diesel",1990,18.59,5.64,GRP,NaN,73
4432,Â£ 325000,Motor Yacht,Oyster power boats,"Used boat,Diesel",2007,13.11,4.09,GRP,NaN,56
4452,EUR 350000,Motor Yacht,Pershing power boats,"Used boat,Diesel",2004,16.76,4.70,GRP,NaN,68
4493,EUR 340000,Motor Yacht,Pershing power boats,"Used boat,Diesel",2004,17.73,4.70,GRP,NaN,46
4494,EUR 340000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2001,19.60,5.20,GRP,NaN,47
4604,EUR 310000,Motor Yacht,Azimut power boats,"Used boat,Diesel",2004,17.51,4.57,GRP,NaN,168
4699,EUR 290000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2009,14.97,4.30,GRP,NaN,116
4786,EUR 275000,Motor Yacht,Sunseeker power boats,"Used boat,Diesel",2000,18.59,4.60,GRP,NaN,77
4813,EUR 270000,Motor Yacht,Sessa power boats,"Used boat,Diesel",2008,14.87,4.27,GRP,NaN,56
8146,EUR 45000,Flybridge,Scand power boats,"Used boat,Diesel",1999,8.84,3.24,GRP,NaN,131

###### Although these were considered mixed-type datas, I will keep all the data type the same. All of them are considered mixed-type because they have "NaN" values, so if I change it, they will became a text "nan", which will bring no value to my analysis and, could even harm it. 

###### As for the 'Location' column, I will clean it.

##### 03. Missing Data

In [169]:
df.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

###### Considering that the missing data ('Manufacturer' and 'Material') surpress 5% of the whole column, I'll delete them. It is not possible to imput any value, otherwise could harm the analysis. I am also going to delete the null values in the 'Location' column, to avoid any misinterpretation of the data. 

###### As for the columns Type, Length, Width , I will apply the imputation technique. 

###### This will be handle in the cleaning section

##### 04. Duplicate Data

In [170]:
# check again the shape of this dataset 

df.shape

(9888, 10)

In [171]:
# check if there is any whole row with duplicate values

df.duplicated().value_counts()

False    9888
Name: count, dtype: int64

In [172]:
# check if there is any duplicated by column 

for col in df.columns:
  print(f"{col} has: {df.duplicated(subset=col).sum()} duplicates")

Price has: 6706 duplicates
Boat Type has: 9762 duplicates
Manufacturer has: 8977 duplicates
Type has: 9863 duplicates
Year Built has: 9766 duplicates
Length has: 8275 duplicates
Width has: 9312 duplicates
Material has: 9876 duplicates
Location has: 6892 duplicates
Number of views last 7 days has: 9214 duplicates

In [173]:
# check each column to identify if there is a reason for the duplicates

df[df["Price"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
19,EUR 4000,Cabin Boat,NaN,"Used boat,Unleaded",2011,6.37,2.31,GRP,Germany Â» Bayern Â» Forchheim/Ofr.,330
24,EUR 3900,Cabin Boat,NaN,Used boat,1985,6.53,2.47,NaN,"France Â» Marseille, France",383
26,CHF 4200,Fishing Boat,MÃ¤ndli power boats,"Used boat,Unleaded",0,4.00,1.50,GRP,Switzerland Â» Lake of Zurich Â» MÃ¤nnedorf,295
35,CHF 3800,Cabin Boat,Draco power boats,"Used boat,Unleaded",1980,6.20,2.45,GRP,Switzerland Â» Walensee Â» Walenstadt,1804
36,CHF 3800,Fishing Boat,Hensa power boats,"Used boat,Unleaded",1974,5.40,1.67,Plastic,Switzerland Â» Sihlsee,849
...,...,...,...,...,...,...,...,...,...,...
9871,CHF 5250,Sport Boat,Fletcher power boats,"Used boat,Unleaded",1975,4.38,1.70,GRP,Switzerland Â» Murtensee Â» 3203,997
9873,EUR 4799,Working Boat,NaN,"new boat from stock,Electric",2019,3.64,1.37,NaN,Germany Â» Bayern Â» Boote Jochum,41
9875,EUR 4790,Classic,NaN,Used boat,1962,4.10,1.50,Wood,Austria Â» PÃ¶llau,188
9877,CHF 5000,Cabin Boat,Princess power boats,Used boat,1974,7.20,2.70,GRP,Switzerland Â» Rhein Â» MÃ¶hlin,1299
9882,CHF 4950,Fishing Boat,Staempfli power boats,"Used boat,Unleaded",1984,6.00,1.62,Plastic,Switzerland Â» Bielersee Â» Gerolfingen,288

In [174]:
# check each column to identify if there is a reason for the duplicates

df[df["Boat Type"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,132
7,DKK 24800,Sport Boat,NaN,Used boat,0,3.00,NaN,NaN,Denmark Â» Svendborg,134
8,EUR 3333,Fishing Boat,Crescent power boats,new boat from stock,2019,3.64,1.37,NaN,Germany Â» Bayern Â» Boote+service Oberbayern,45
10,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland Â» Seengen,239
...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland Â» Brienzersee Â» Brienz,194

In [175]:
# check each column to identify if there is a reason for the duplicates

df[df["Price"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
19,EUR 4000,Cabin Boat,NaN,"Used boat,Unleaded",2011,6.37,2.31,GRP,Germany Â» Bayern Â» Forchheim/Ofr.,330
24,EUR 3900,Cabin Boat,NaN,Used boat,1985,6.53,2.47,NaN,"France Â» Marseille, France",383
26,CHF 4200,Fishing Boat,MÃ¤ndli power boats,"Used boat,Unleaded",0,4.00,1.50,GRP,Switzerland Â» Lake of Zurich Â» MÃ¤nnedorf,295
35,CHF 3800,Cabin Boat,Draco power boats,"Used boat,Unleaded",1980,6.20,2.45,GRP,Switzerland Â» Walensee Â» Walenstadt,1804
36,CHF 3800,Fishing Boat,Hensa power boats,"Used boat,Unleaded",1974,5.40,1.67,Plastic,Switzerland Â» Sihlsee,849
...,...,...,...,...,...,...,...,...,...,...
9871,CHF 5250,Sport Boat,Fletcher power boats,"Used boat,Unleaded",1975,4.38,1.70,GRP,Switzerland Â» Murtensee Â» 3203,997
9873,EUR 4799,Working Boat,NaN,"new boat from stock,Electric",2019,3.64,1.37,NaN,Germany Â» Bayern Â» Boote Jochum,41
9875,EUR 4790,Classic,NaN,Used boat,1962,4.10,1.50,Wood,Austria Â» PÃ¶llau,188
9877,CHF 5000,Cabin Boat,Princess power boats,Used boat,1974,7.20,2.70,GRP,Switzerland Â» Rhein Â» MÃ¶hlin,1299
9882,CHF 4950,Fishing Boat,Staempfli power boats,"Used boat,Unleaded",1984,6.00,1.62,Plastic,Switzerland Â» Bielersee Â» Gerolfingen,288

In [176]:
# check each column to identify if there is a reason for the duplicates

df[df["Manufacturer"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,132
7,DKK 24800,Sport Boat,NaN,Used boat,0,3.00,NaN,NaN,Denmark Â» Svendborg,134
10,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland Â» Seengen,239
11,CHF 3480,Fishing Boat,Marine power boats,new boat from stock,0,4.13,1.41,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa am ZÃ¼...,145
16,CHF 4380,Sport Boat,Linder power boats,new boat from stock,0,4.31,1.64,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,462
...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland Â» Brienzersee Â» Brienz,194

In [177]:
# check each column to identify if there is a reason for the duplicates

df[df["Year Built"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,132
7,DKK 24800,Sport Boat,NaN,Used boat,0,3.00,NaN,NaN,Denmark Â» Svendborg,134
8,EUR 3333,Fishing Boat,Crescent power boats,new boat from stock,2019,3.64,1.37,NaN,Germany Â» Bayern Â» Boote+service Oberbayern,45
11,CHF 3480,Fishing Boat,Marine power boats,new boat from stock,0,4.13,1.41,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa am ZÃ¼...,145
...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland Â» Brienzersee Â» Brienz,194

In [178]:
# check each column to identify if there is a reason for the duplicates

df[df["Length"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
7,DKK 24800,Sport Boat,NaN,Used boat,0,3.00,NaN,NaN,Denmark Â» Svendborg,134
10,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland Â» Seengen,239
17,DKK 30000,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,124
20,EUR 3999,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,69
...,...,...,...,...,...,...,...,...,...,...
9881,CHF 4950,Sport Boat,Marine power boats,new boat from stock,0,3.99,1.52,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,150
9882,CHF 4950,Fishing Boat,Staempfli power boats,"Used boat,Unleaded",1984,6.00,1.62,Plastic,Switzerland Â» Bielersee Â» Gerolfingen,288
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266

In [179]:
# check each column to identify if there is a reason for the duplicates

df[df["Width"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
17,DKK 30000,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,124
20,EUR 3999,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,69
22,EUR 3930,Sport Boat,Linder power boats,"new boat from stock,Unleaded",2020,4.31,1.64,Aluminium,Germany Â» Nordrhein-Westfalen Â» WSC Hopp / M...,90
26,CHF 4200,Fishing Boat,MÃ¤ndli power boats,"Used boat,Unleaded",0,4.00,1.50,GRP,Switzerland Â» Lake of Zurich Â» MÃ¤nnedorf,295
27,CHF 4030,Fishing Boat,Linder power boats,new boat from stock,2018,3.55,1.46,Aluminium,Switzerland Â» VierwaldstÃ¤ttersee Â» Luzern,130
...,...,...,...,...,...,...,...,...,...,...
9882,CHF 4950,Fishing Boat,Staempfli power boats,"Used boat,Unleaded",1984,6.00,1.62,Plastic,Switzerland Â» Bielersee Â» Gerolfingen,288
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland Â» Brienzersee Â» Brienz,194

In [180]:
# check each column to identify if there is a reason for the duplicates

df[df["Material"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58
5,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,132
6,CHF 3600,Catamaran,NaN,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,Switzerland Â» Neuenburgersee Â» Yvonand,474
7,DKK 24800,Sport Boat,NaN,Used boat,0,3.00,NaN,NaN,Denmark Â» Svendborg,134
...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland Â» Brienzersee Â» Brienz,194

In [181]:
# check each column to identify if there is a reason for the duplicates

df[df["Location"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
7,DKK 24800,Sport Boat,NaN,Used boat,0,3.00,NaN,NaN,Denmark Â» Svendborg,134
16,CHF 4380,Sport Boat,Linder power boats,new boat from stock,0,4.31,1.64,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,462
17,DKK 30000,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,124
20,EUR 3999,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,69
32,CHF 3890,Sport Boat,Pioner power boats,new boat on order,0,3.81,1.65,NaN,Switzerland Â» Safenwil,105
...,...,...,...,...,...,...,...,...,...,...
9883,CHF 4900,Sport Boat,Sea Ray power boats,"Used boat,Unleaded",1987,6.30,2.44,NaN,Switzerland Â» Lago Maggiore Â» Riazzino,1116
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland Â» Brienzersee Â» Brienz,194

In [182]:
# check each column to identify if there is a reason for the duplicates

df[df["Number of views last 7 days"].duplicated()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
17,DKK 30000,Sport Boat,NaN,Used boat,1985,4.00,1.00,NaN,Denmark Â» Svendborg,124
20,EUR 3999,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,69
39,EUR 3500,Sport Boat,Rio power boats,"Used boat,Unleaded",1991,4.00,1.62,NaN,"France Â» DIENVILLE, DIENVILLE",98
75,CHF 8155,Bowrider,Terhi power boats,"new boat from stock,Unleaded",2020,4.45,1.85,Thermoplastic,Switzerland Â» Horgen,462
76,EUR 7500,Center console boat,Fletcher power boats,"Used boat,Unleaded",1996,4.50,1.70,GRP,Germany Â» Landshut,201
...,...,...,...,...,...,...,...,...,...,...
9882,CHF 4950,Fishing Boat,Staempfli power boats,"Used boat,Unleaded",1984,6.00,1.62,Plastic,Switzerland Â» Bielersee Â» Gerolfingen,288
9884,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94
9885,EUR 4499,Sport Boat,BlueCraft power boats,"new boat from stock,Unleaded",2020,4.40,1.80,GRP,Germany Â» Nordrhein-Westfalen Â» Wesel,354
9886,EUR 4300,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.37,1.89,NaN,Italy Â» Dormelletto,266
9887,CHF 3780,Fishing Boat,DarekCo power boats,new boat from stock,2019,3.60,1.60,GRP,Switzerland Â» Brienzersee Â» Brienz,194

###### There are no rows duplicates in this dataset.

###### The values duplicated within each column make sense, since they are values that are going to repeat overtime.

### 03. Rename Columns

In [183]:
# check columns names

df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Location', 'Number of views last 7 days'],
      dtype='object')

###### All the columns names are straightforward, so  there is no need to change their names, I will only adapt some columns.

In [184]:
# Columns renamed to follow a standard

df.rename(columns={'Boat Type': 'Boat_Type','Year Built': 'Year_Built', 'Number of views last 7 days': 'Views_7_days'}, inplace = True)

In [185]:
# check if the rename was sucessful

df.columns

Index(['Price', 'Boat_Type', 'Manufacturer', 'Type', 'Year_Built', 'Length',
       'Width', 'Material', 'Location', 'Views_7_days'],
      dtype='object')

### 04. Cleaning Data

##### 4.1 Missing Data

In [186]:
# fill the NaN values with 'Type' - mode

df["Type"] = df['Type'].fillna(df['Type'].notnull().mode()[0])

In [187]:
# fill the NaN values with 'Length' - avg

df["Length"] = df['Length'].fillna(df["Length"].notnull().mean())

In [188]:
# fill the NaN values with 'Width' avg

df["Width"] = df['Width'].fillna(df["Width"].notnull().mean())

In [189]:
# check the remaining null value

df.isnull().sum()

Price              0
Boat_Type          0
Manufacturer    1338
Type               0
Year_Built         0
Length             0
Width              0
Material        1749
Location          36
Views_7_days       0
dtype: int64

In [190]:
# filter manufacturer, material and location missing values

df_filtered = df[df[["Manufacturer", "Material", "Location"]].notnull().all(axis=1)]

In [191]:
# Check if there is any null values remaining in the new dataframe

df_filtered.isnull().sum()

Price           0
Boat_Type       0
Manufacturer    0
Type            0
Year_Built      0
Length          0
Width           0
Material        0
Location        0
Views_7_days    0
dtype: int64

In [192]:
# check general information of the new filtered dataframe

df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7037 entries, 1 to 9887
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         7037 non-null   object
 1   Boat_Type     7037 non-null   object
 2   Manufacturer  7037 non-null   object
 3   Type          7037 non-null   object
 4   Year_Built    7037 non-null   int64
 5   Length        7037 non-null   float64
 6   Width         7037 non-null   float64
 7   Material      7037 non-null   object
 8   Location      7037 non-null   object
 9   Views_7_days  7037 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 604.7+ KB

In [193]:
df_filtered.columns

Index(['Price', 'Boat_Type', 'Manufacturer', 'Type', 'Year_Built', 'Length',
       'Width', 'Material', 'Location', 'Views_7_days'],
      dtype='object')

In [194]:
# based on the info above, the index remain from 1 to 9887, so it's necessary to reset it

df_filtered.reset_index(drop=True, inplace=True)

df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7037 entries, 0 to 7036
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Price         7037 non-null   object
 1   Boat_Type     7037 non-null   object
 2   Manufacturer  7037 non-null   object
 3   Type          7037 non-null   object
 4   Year_Built    7037 non-null   int64
 5   Length        7037 non-null   float64
 6   Width         7037 non-null   float64
 7   Material      7037 non-null   object
 8   Location      7037 non-null   object
 9   Views_7_days  7037 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 549.9+ KB

##### 4.2 Location Column

In [195]:
# change encode

df_filtered.loc[:,'Location'] = df_filtered['Location'].astype(str).apply(lambda x: x.encode('latin1').decode('utf-8'))

In [196]:
# check if the function was applied correctly

df_filtered.head()

,Price,Boat_Type,Manufacturer,Type,Year_Built,Length,Width,Material,Location,Views_7_days
0,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany » Bönningstedt,75
1,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland » Lake of Zurich » Stäfa ZH,124
2,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany » Bayern » München,58
3,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland » Lake Constance » Uttwil,132
4,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland » Seengen,239

In [197]:
# considering that there is no pattern on how the location was defined, I will create another column with only the country

df_filtered.loc[:,'Country'] = df_filtered['Location'].str.split().str[0]

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_14928/2009655919.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:,'Country'] = df_filtered['Location'].str.split().str[0]

In [198]:
# check if it was created and only contain countries

df_filtered['Country'].value_counts(dropna=False)

Country
Germany        1504
Italy          1011
Switzerland    1007
France          980
Croatia         677
               ...
Rovinij           1
Mallorca          1
Greetsile/        1
Lithuania         1
Thun              1
Name: count, Length: 101, dtype: int64

##### 4.3 - Price Column to US Dollars Currency

In [207]:
# Considering how the price is shown, it is important to separate it first

df_filtered.loc[:,"Price_Currency"] = df_filtered["Price"].str.split().str[0].copy()
df_filtered.loc[:,"Amount"] = df_filtered["Price"].str.split().str[1].copy()

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_14928/3170289185.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['EUR' 'CHF' 'EUR' ... 'CHF' 'EUR' 'CHF']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_filtered.loc[:,"Price_Currency"] = df_filtered["Price"].str.split().str[0].copy()
/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_14928/3170289185.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['3490' '3770' '3399' ... '4950' '4499' '3780']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_filtered.loc[:,"Amount"] = df_filtered["Price"].str.split().str[1].copy()

In [208]:
# check 

df_filtered.head(10)

,Price,Boat_Type,Manufacturer,Type,Year_Built,Length,Width,Material,Location,Views_7_days,Country,Price_Currency,Amount,Amount_US
0,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany » Bönningstedt,75,Germany,EUR,3490,None
1,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland » Lake of Zurich » Stäfa ZH,124,Switzerland,CHF,3770,None
2,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany » Bayern » München,58,Germany,EUR,3399,None
3,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland » Lake Constance » Uttwil,132,Switzerland,CHF,3650,None
4,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland » Seengen,239,Switzerland,CHF,3500,None
5,CHF 3480,Fishing Boat,Marine power boats,new boat from stock,0,4.13,1.41,Aluminium,Switzerland » Lake of Zurich » Stäfa am Zürichsee,145,Switzerland,CHF,3480,None
6,EUR 3500,Sport Boat,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,Italy » Lake Garda » Moniga del Garda (BS),69,Italy,EUR,3500,None
7,CHF 4600,Runabout,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,Switzerland » Zugersee » Neuheim,113,Switzerland,CHF,4600,None
8,CHF 4500,Fishing Boat,Italmarine power boats,"Used boat,Unleaded",1997,3.72,1.33,Aluminium,Switzerland » Vierwaldstättersee » 6004,413,Switzerland,CHF,4500,None
9,CHF 4400,Deck Boat,Buster power boats,"new boat from stock,Unleaded",0,3.88,1.49,Aluminium,Switzerland » Safenwil,263,Switzerland,CHF,4400,None

In [201]:
# check dtypes

df_filtered.dtypes

Price              object
Boat_Type          object
Manufacturer       object
Type               object
Year_Built          int64
Length            float64
Width             float64
Material           object
Location           object
Views_7_days        int64
Country            object
Price_Currency    float64
Amount            float64
dtype: object

In [209]:
# change Price_Amount dtype

df_filtered.loc[:,'Amount'] = df_filtered['Amount'].astype(float)

In [210]:
df_filtered["Price_Currency"].value_counts()

Price_Currency
EUR    5867
CHF     884
Â£      218
DKK      68
Name: count, dtype: int64

In [211]:
# first define exchange rate for each currency in the column compared to EUR

rates = {"EUR": 1.10, "DKK": 1.10, "Â£": 1.30, "CHF": 0.15}

def rate_exchange(row):
  currency = row["Price_Currency"]
  amount = row["Amount"]
  
  if currency in rates:
    return amount * rates[currency]
  else: print("ValueError")

df_filtered["Amount_US"] = df_filtered.apply(rate_exchange, axis=1)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_14928/3399116240.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["Amount_US"] = df_filtered.apply(rate_exchange, axis=1)

In [212]:
df_filtered.head(10)

,Price,Boat_Type,Manufacturer,Type,Year_Built,Length,Width,Material,Location,Views_7_days,Country,Price_Currency,Amount,Amount_US
0,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany » Bönningstedt,75,Germany,EUR,3490.0,3839.0
1,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland » Lake of Zurich » Stäfa ZH,124,Switzerland,CHF,3770.0,565.5
2,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany » Bayern » München,58,Germany,EUR,3399.0,3738.9
3,CHF 3650,Sport Boat,Linder power boats,new boat from stock,0,4.03,1.56,Aluminium,Switzerland » Lake Constance » Uttwil,132,Switzerland,CHF,3650.0,547.5
4,CHF 3500,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland » Seengen,239,Switzerland,CHF,3500.0,525.0
5,CHF 3480,Fishing Boat,Marine power boats,new boat from stock,0,4.13,1.41,Aluminium,Switzerland » Lake of Zurich » Stäfa am Zürichsee,145,Switzerland,CHF,3480.0,522.0
6,EUR 3500,Sport Boat,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,Italy » Lake Garda » Moniga del Garda (BS),69,Italy,EUR,3500.0,3850.0
7,CHF 4600,Runabout,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,Switzerland » Zugersee » Neuheim,113,Switzerland,CHF,4600.0,690.0
8,CHF 4500,Fishing Boat,Italmarine power boats,"Used boat,Unleaded",1997,3.72,1.33,Aluminium,Switzerland » Vierwaldstättersee » 6004,413,Switzerland,CHF,4500.0,675.0
9,CHF 4400,Deck Boat,Buster power boats,"new boat from stock,Unleaded",0,3.88,1.49,Aluminium,Switzerland » Safenwil,263,Switzerland,CHF,4400.0,660.0

In [213]:
df_filtered.columns

Index(['Price', 'Boat_Type', 'Manufacturer', 'Type', 'Year_Built', 'Length',
       'Width', 'Material', 'Location', 'Views_7_days', 'Country',
       'Price_Currency', 'Amount', 'Amount_US'],
      dtype='object')

##### 4.4 - Year Built Column

In [214]:
# Considering that the minimum year built it was 0, I will filter this dataframe to keep all the values that are !=0

df_filtered = df_filtered[df_filtered['Year_Built'] !=0]

In [215]:
# check the amount of rows that remains after the cleaning

df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6607 entries, 0 to 7036
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           6607 non-null   object
 1   Boat_Type       6607 non-null   object
 2   Manufacturer    6607 non-null   object
 3   Type            6607 non-null   object
 4   Year_Built      6607 non-null   int64
 5   Length          6607 non-null   float64
 6   Width           6607 non-null   float64
 7   Material        6607 non-null   object
 8   Location        6607 non-null   object
 9   Views_7_days    6607 non-null   int64
 10  Country         6607 non-null   object
 11  Price_Currency  6607 non-null   object
 12  Amount          6607 non-null   object
 13  Amount_US       6607 non-null   float64
dtypes: float64(3), int64(2), object(9)
memory usage: 774.3+ KB

##### 4.5 - Cleaning Dataframe After Changings

In [230]:
# Information such as Location which don't follow a pattern, Price (including Currency + Amount), or just the Currency or Original Price 
# are not useful for our analysis, reason why I'll drop it

df_filtered.drop(columns=["Price", "Location", "Price_Currency", "Amount"], axis=1, inplace=True)

In [232]:
df_filtered.reset_index(drop=True, inplace=True)

In [233]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Boat_Type     6607 non-null   object
 1   Manufacturer  6607 non-null   object
 2   Type          6607 non-null   object
 3   Year_Built    6607 non-null   int64
 4   Length        6607 non-null   float64
 5   Width         6607 non-null   float64
 6   Material      6607 non-null   object
 7   Views_7_days  6607 non-null   int64
 8   Country       6607 non-null   object
 9   Amount_US     6607 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 516.3+ KB

### 05. Data Profile

#### Descriptive Analysis

In [219]:
# Descriptive Analysis
pd.set_option('display.float_format', '{:.2f}'.format) 

df_filtered.describe()

       Year_Built  Length   Width  Views_7_days   Amount_US
count     6607.00 6607.00 6607.00       6607.00     6607.00
mean      2006.76   11.22    3.47        162.01   316429.17
std         12.66    5.18    1.13        170.77   899440.18
min       1901.00    1.00    0.86         13.00      525.00
25%       2000.00    7.47    2.54         73.00    38500.00
50%       2008.00   10.00    3.30        113.00    93500.00
75%       2018.00   13.72    4.20        187.00   269500.00
max       2021.00   56.00   16.00       3263.00 25850000.00

###### Most of the columns descriptive analysis show a logical value, except for the column "Year Built" that shows the minimum as 0, which could be used to represent as "Unknown".

In [220]:
# check frequency - Year_Built

df_filtered['Year_Built'].value_counts()

Year_Built
2020    976
2019    486
2008    333
2007    277
2006    274
       ...
1957      1
1933      1
1954      1
1940      1
1951      1
Name: count, Length: 78, dtype: int64

In [221]:
# check frequency - Length

df_filtered['Length'].value_counts()

Length
9.00     80
11.00    64
10.00    63
6.50     60
12.00    58
         ..
23.30     1
10.93     1
22.43     1
13.91     1
3.60      1
Name: count, Length: 1342, dtype: int64

In [222]:
# check frequency - Width

df_filtered['Width'].value_counts()

Width
2.50     235
3.00     167
2.59     146
2.55     135
2.54     120
        ...
5.57       1
7.59       1
6.45       1
10.50      1
9.98       1
Name: count, Length: 494, dtype: int64

In [223]:
# check frequency - Views_7_days

df_filtered['Views_7_days'].value_counts()

Views_7_days
74      61
81      57
73      57
110     53
67      53
        ..
1107     1
690      1
873      1
482      1
1917     1
Name: count, Length: 656, dtype: int64

In [224]:
# check frequency Price EUR

df_filtered['Amount_US'].value_counts()

Amount_US
71500.00      50
49500.00      49
60500.00      48
82500.00      44
38500.00      42
              ..
1317360.00     1
1324345.00     1
1345053.60     1
1356262.60     1
567.00         1
Name: count, Length: 2307, dtype: int64

###### From this descriptive analysis all the values seems reasonable for boats, reason why any further investigation does not seen necessary for now.

### Exporting Data

In [235]:
df_filtered.to_pickle(os.path.join(path, 'Prepared Data','Filtered_Boat_Sales.csv'))